// attendence
.table_collase {
    border-collapse: collapse;
  }
.warning {
    border-bottom: 2px solid #FF9500;
    border-top: 2px solid #FF9500;
    border-left: 2px solid #FF9500;
    border-right: 2px solid #FF9500;
}

.warning_row {
    background-color: #FFF8EE !important;
}