.iconEye {
  top: 38%;
  right: 15px;
  z-index: 15;
  font-size: 16px;
}
.textValidPw {
  color: #92C73D !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.textInvalidPw {
  color: #F14D58;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
